$primary-normal: #FFF8EA;
$primary-light: #FFF2D8;
$primary-dark: #a39b6e;

$marron-dark: #3C2100;
$marron-normal: #603601;
$marron-light: #be8640;

$white-normal: #C8C6C6;
$white-dark: #b8b6b6;
$white-light: #F7F6F2;

$grey-dark: #6d6d6d;